@{
    ViewBag.Title = "Home Page";
}

<img src="~/Images/maersk_line.jpg" alt="maersk_line" style="width:1140px;height:400px;" />
<div class="jumbotron">
    <h1>Container Management System</h1>
    <p class="lead" align="justify">Maersk Line is the world’s largest container shipping company, known for reliable, flexible and eco-efficient services. The Maersk Liner business also includes Safmarine, Seago Line, SeaLand and MCC. The company operates all over the world and has a fleet of 639 ships which sail every major trade lane on the globe.</p>
    <p><a href="/Shipment/index" class="btn btn-primary btn-lg">Shipments</a></p>
</div>
